.img{
    height: 600px;
}
.mytext{
    color: black;
    font-size: 3rem; 
    text-align: right;   
}


.style{
    margin-top: 6vh;
    margin-left: 6vh;
    margin-right: 6vh;
    object-fit: cover;
    margin-bottom: 6vh;
}