.body{
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 45%;
    background-image: linear-gradient(to left,rgb(0, 229, 255),rgb(253, 253, 92));
}
.submit{
    color: #fff;
    background-color: #0d6efd;
}